.Mynavbar {
  width: 100%;
  box-shadow: 0px 0px 6px rgb(222, 222, 222);
  padding: 10px 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between !important;
  font-size: 1vw;
}
.nav-logo {
  width: 50%;
}
.nav-logo p {
  margin: 0;
  font-weight: 500;
  font-size: 2vw;
}
.nav-logo span {
  color: orange;
}
.AdminLoginButton {
  /* border: 1px solid green; */
  text-decoration: none;
  padding: 4px 7px;
  color: white;
  background-color: black;
  border-radius: 4px;
}

@media (max-width: 768px) {
  .Mynavbar {
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    gap: 20px;
  }
  .nav-logo p {
    font-size: 6vw;
    width: max-content;
  }
  .AdminLoginButton {
    width: max-content;
    text-align: center;
    font-size: 4vw;
  }
  .nav-impactScore {
    display: none;
  }
}
@media (max-width: 368px) {
  .Mynavbar {
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    gap: 20px;
  }
  .nav-logo p {
    font-size: 6vw;
    width: max-content;
  }
  .AdminLoginButton {
    width: max-content;
    text-align: center;
    font-size: 4vw;
  }
  .nav-impactScore {
    display: none;
  }
}
